$white: #ffffff;

$dark-gray: #262626;

$lightest-gray: #f7f7f5;
$light-gray: #DEDEDC;
$gray: #999;
// $dark-gray: #6f6f6f;

$lightest-green: #c0ebcf;
$light-green: #6cd18f;
$green: #2dbe60;
$dark-green: #1b7239;
$darkest-green: #124c26;


$button-1: #aa0080;
$button-2: #ff8a47;
$button-3: #ffdd00;
$button-4: #7fae2e;
$button-5: #00a8d7;
