@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

$serif: "Times New Roman";
$san-serif: 'Roboto', sans-serif;

.small {
	font-size: 0.5em;
}
