.deck-show-container {
  position: absolute;
  left: 360px;
  padding-left: 40px;
  color: $gray;
  width: 70vw;
  // border-right: 1px solid $light-gray;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  z-index: 20;
}

.deck-show {
  padding-top: 25px;
}

.confirm-delete button{
  width: 30%;
  margin-right: 20px;
}

.deck-show-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.confirm-delete {
  position: absolute;
  // left: 50vh;
  width: 300px;
  float:left;
  background: $white;
}

.deck-show-item-header-text {
  font-size: 2em;
  padding-bottom: 1em;
  padding-top: 20px;
  box-sizing: border-box;
  width: 50vw;
  text-decoration: underline;
}


.deck-show-item-header-text input {
  width: 50vw;
  text-decoration: none;
}

.deck-show-header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30px;
}

.deck-show-attributes-button i {
  color: white;
}

.deck-show-header-links i{
  padding-left: 10px;
}

.attributes-side-by-side1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 125px;
}

.deck-show-attributes-button{
  width: 100px;
}

.inline {
  display: inline-block;
}


h1 {
  color: $dark-gray;
}

.table-row {
  border-bottom: 2px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 5px;
  height: 60px;
}

.table-row.header {
  // background-color: #FFEEDB;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.text-xsmall {
  padding-left: 20px;
  width: 7vw;
}

.text-short {
  width: 20vw;
}
.text-short textarea {
  width: 20vw;
  word-break: break-word;

}

.text-long {
  width: 30vw;
}
.text-long textarea {
  width: 30vw;
  height: 40px;
}

.overflow {
  word-break: break-word;
  overflow: hidden;
  // text-overflow: ellipsis;
  // word-break: keep-all;
  // -webkit-line-clamp: 1; /* number of lines to show */
  // line-height: 20px;        /* fallback */
  // max-height: 40px;       /* fallback */
  // display: -webkit-box;
  // -webkit-line-clamp: 2;
  // -webkit-box-orient: vertical;
  // width: 50vw;
}

.card-container {
  width: 60vw;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75px;
  align-items: center;
}
