.deck-index-container {
  background: $lightest-gray;
  border-right: 1px solid $light-gray;
  border-left: 1px solid $light-gray;
  position: absolute;
  left: 60px;
  height: 100vh;
  width: 300px;
  font-size: 15px;
  color: $gray;
  box-sizing: border-box;
}


.margin-top {
  margin-top: 10px;
}

$font-size: 1em;
$line-height-ratio: 1;
$lines-to-show: 2;

.list-title{
  font-weight: bold;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;


  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;

  height: $font-size*$line-height-ratio*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height-ratio;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;

}

.deck-header-box-item1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.deck-header-box-item2 {
}

.deck-header-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  justify-content: space-between;
}

.deck-header-font{
  font-size: 20px;
  padding-bottom: 40px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $gray;
}

.deck-index-item-outer-title {
  background: white;
  // border: solid 1px black;
  // padding-right: 10px;
  border-bottom: 1px solid $light-gray;
  height: 120px;
}

.deck-index-item-container {
  background: white;
  height: 120px;
  border-bottom: 1px solid $light-gray;
}

.deck-index-item-container:hover {
  background-color: $green;
  color: $white;
  transition: background-color 0.1s;
  transition-timing-function: cubic-bezier(.42,0,1,1);
}

.deck-index-item-container:hover .green  {
  background-color: $green;
  color: $white;
  transition: background-color 2s ease;

}

.deck-index-item-ul {
  padding: 20px 40px 10px 20px;
}

.deck-index-container a {
  font-weight: normal;
}
