.deck-show-container {
  position: absolute;
  left: 400px;
  color: $gray;
  width: 80vw;
  border-right: 1px solid $light-gray;
  height: 100vh;
  overflow-y: auto;

}

.deck-show {
  padding-top: 30px;
}

.deck-show-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
    // width: 50vh;
  // justify-content: space-between;
}



.deck-show-item-header-text {
  font-size: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
  box-sizing: border-box;
  width: 50vw;
}


.deck-show-item-header-text input {
  width: 50vw;
}

.deck-show-header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30px;
}

.deck-show-attributes-button i {
  color: white;
}

.deck-show-header-links i{
  padding-left: 10px;
}

.attributes-side-by-side1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 125px;
}

.deck-show-attributes-button{
  width: 100px;
}

.inline {
  display: inline-block;
}


h1 {
  color: $dark-gray;
}

.table-row {
  border-bottom: 2px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 5px;
  height: 40px;
}

.table-row.header {
  // background-color: #FFEEDB;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.text-xsmall {
  padding-left: 20px;

  width: 7vw;
}

.text-short {
  width: 20vw;
}
.text-short input {
  width: 20vw;
}

.text-long {
  width: 30vw;
}
.text-long input {
  width: 30vw;
}

.card-container {
  width: 60vw;
}
