.form-spacing {
  height: 20vh;
  justify-content:space-around;
}

.deck-form-container {
  position: absolute;
  padding: 25px 50px;
  left: 350px;
}

.deck-form-container input {
  width: 30vw;
}

.deck-form-container h1 {
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-size: 2em;
}

.form-header {
  justify-content: space-between;
  // width: 30vh;
  align-items: center;
}
