.deck-index-container {
  background: $lightest-gray;
  border-right: 1px solid $light-gray;
  border-left: 1px solid $light-gray;
  position: absolute;
  left: 60px;
  height: 100vh;
  width: 300px;
  font-size: 15px;
  color: $gray;
  box-sizing: border-box;
  overflow: scroll;
}

.deck-index-container a {
  font-weight: normal;
}

.deck-index-title {
  background: white;
  border-bottom: 1px solid $light-gray;
  height: 120px;
  position: sticky;
  top: 0px;
}

.deck-header-box {
  align-items: center;
  justify-content: space-between;
  background: white;
}

.deck-header-box-text {
  justify-content: space-between;
  height: 100%;
}

.deck-header-font{
  font-size: 20px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $gray;
}

.deck-title-padding{
  padding-bottom: 40px;
}
