.deck-show-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  // width: 50vh;
  justify-content: space-between;
}

.deck-show-header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  width: 30px;
  justify-content: space-between;
}
