.unselected-deck-item {
  background: $white;
  height: 120px;
  border-bottom: 1px solid $light-gray;
  // position: sticky;
  // top: 120px;
}

.unselected-deck-item:hover {
  background-color: $green;
  color: $white;
  transition: background-color 0.1s;
  transition-timing-function: cubic-bezier(.42,0,1,1);
}

.selected-deck-item {
  background-color: $green;
  color: $white;
  height: 120px;
}
.selected-deck-item .green{
  background-color: $green;
  color: $white;
}

.unselected-deck-item:hover .green{
  background-color: $green;
  color: $white;
  transition: background-color 0.5s;
  transition-timing-function: cubic-bezier(.42,0,1,1);
}

.deck-index-item-padding {
  padding: 20px 40px 10px 20px;
}

.margin-top {
  margin-top: 10px;
}

$font-size: 1em;
$line-height-ratio: 1;
$lines-to-show: 2;

// white-space: nowrap;
// overflow: hidden;
// text-overflow: ellipsis;
.list-title{
  font-weight: bold;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  overflow-wrap: break-word;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;

  height: $font-size*$line-height-ratio*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height-ratio;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
