.finished-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 500px;
  padding: 80px;
}

.studyButton {
  color: white;
  width: 200px;
}
