.full-width {
  height: 70px;
  border-bottom: 1px solid $light-gray;
}

.top-navbar {
  margin: 0 auto;
  width: 70vw;
}

.navbar-home {
  align-items: center;
  justify-content: space-between;
}

.nav-logo a{
  color: $green;
  font-size: 20px;
}

.navbar-links {
  justify-content: space-between;
  width: 300px;
  font-size: 15px;
}
