.session-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  align-items: center;
  height: 500px;
}

.intro-ad {
  width: 600px;
  // padding-right: 50px;
  padding: 80px 20px 20px 80px;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.inner-card-container {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-ad-small-text {
  padding-top: 20px;
  font-size: 1.3em;
  font-weight: bold;
}

.session-form-outer {
  padding-left: 10vh;
  border-left: 1px solid $gray;
}

.session-form {
  width: 400px;
  padding: 20px 20px 20px 20px;

}

.session-form form input, button {
  width: 100%;
  box-sizing: border-box;
  height: 45px;
}

.session-form button {
  text-align: center;
}

.session-form-login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.disclosure {
  color: $gray;
  font-size: 14px;
}

.caption {
  padding-top: 10px;
  font-size: 1.1em;
  color: $dark-gray;
  margin: 0 auto;
}

.session-errors {
  color: red;
}

.intro-card {
  top: 20px;
  padding: 20px;
  margin: 20px;
  font-size: 1.5em;
  height: 30vh;
  width: 40vh;
  border: 1px solid black;
}

.intro-card-text {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.position-intro-card{
  // padding: 15px;
}
