.session-form-container {
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  align-items: center;
}

.session-form-right {
  width: 525px;
  padding: 5vw 5vw 5vw 2.5vw;
}

.session-card-text {
  padding-top: 20px;
  font-size: 1.3em;
  font-weight: bold;
}

.session-form-left {
  padding-left: 5vw;
  border-left: 1px solid $gray;
}

.session-form {
  width: 400px;
  padding: 20px 20px 20px 20px;

}

.session-form form input, button {
  width: 100%;
  box-sizing: border-box;
  height: 45px;
}

.session-inputs {
  justify-content: space-around;
  height: 300px;
}

.disclosure {
  color: $gray;
  font-size: 14px;
}

.caption {
  padding-top: 10px;
  font-size: 1.1em;
  color: $dark-gray;
  margin: 0 auto;
}

.card {
  top: 20px;
  padding: 20px;
  margin: 20px;
  font-size: 1.5em;
  height: 30vh;
  width: 38vh;
  border: 1px solid black;
}
