.study-sidebar-container {
  background: $dark-gray;
  height: 100vh;
  width: 300px;
  font-size: 20px;
  color: $light-gray;
  padding: 1em;
}

.card-status {

}

.relative{
  position: relative;
}

.inline {
  display: inline-block;
  margin: 0px;
}

.study-button{
  width: 120px;
  margin-bottom: 75px;
}

.study-button i {
  color: white;
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
}

.sidebar-title{
  color: white;
}
