.study-sidebar-container {
  background: $dark-gray;
  border: 1px solid $light-gray;
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 300px;
  font-size: 15px;
  color: $light-gray;
  overflow-y: auto;
  padding: 1em;
}

.inline {
  display: inline-block;
  margin: 0px;
}

.study-button{
  width: 120px;
}

.study-button i {
  color: white;
}

.progress{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%
}
